
<p><%= @student.first_name %></p> 
<%= image_tag(@student.avatar) if @student.avatar.attached? %>


  	<%= link_to "Edit", edit_student_path(@student) %>
	<%= link_to "Destroy",student_path(@student),
                method: :delete,
                data: { confirm: "Are you sure?" } %>